* {
    margin: 0;
    padding: 0;
}

body {
    width: 80rem;
    height: 52rem;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background: #272727;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.3rem;
}
.container-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}
h1{
    width: 14.8rem;
    height: 6rem;
    color: #FFF;
    font-size: 4.9rem;
    font-weight: 700;
    text-align: center;

}
.result {
    width: 3.3rem;
    height: 6rem;
    color: #F2ECD9;
    font-size: 4.9rem;
    font-weight: 700;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    margin-top: 2.94rem;
}
.btn-less, 
.btn-reset,
.btn-add  {
    width: 10.3rem;
    height: 2.7rem;
    background: #CF96AA;
    color: #FAFAFA;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
}

.btn-reset {
    color: #272727;
    background: #F2ECD9
}

.btn-add {
    background: #302C5F;
}
